<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>@0,name</key>
				<string>ATY,Adder</string>
				<key>@1,name</key>
				<string>ATY,Adder</string>
				<key>@2,name</key>
				<string>ATY,Adder</string>
				<key>@3,name</key>
				<string>ATY,Adder</string>
				<key>device_type</key>
				<string>ATY,AdderParent</string>
				<key>AAPL00,DualLink</key>
				<data>AQAAAA==</data>
				<key>ATY,Card#</key>
				<string>102-D32200-00</string>
				<key>ATY,Copyright</key>
				<string>Copyright AMD Inc. All Rights Reserved. 2005-2019</string>
				<key>ATY,DeviceName</key>
				<string>W5700X</string>
				<key>ATY,EFIVersion</key>
				<string>01.01.190</string>
				<key>ATY,FamilyName</key>
				<string>Radeon Pro</string>
				<key>ATY,Rom#</key>
				<string>113-D3220E-190</string>
				<key>CAIL_EnableLBPWSupport</key>
				<integer>0</integer>
				<key>CAIL_EnableMaxPlayloadSizeSync</key>
				<integer>1</integer>
				<key>CFG_CAA</key>
				<integer>0</integer>
				<key>CFG_FB_LIMIT</key>
				<integer>0</integer>
				<key>CFG_FORCE_MAX_DPS</key>
				<integer>1</integer>
				<key>CFG_GEN_FLAGS</key>
				<integer>0</integer>
				<key>CFG_NO_MST</key>
				<integer>0</integer>
				<key>CFG_NVV</key>
				<integer>2</integer>
				<key>CFG_PAA</key>
				<integer>0</integer>
				<key>CFG_PULSE_INT</key>
				<integer>1</integer>
				<key>CFG_TPS1S</key>
				<integer>1</integer>
				<key>CFG_TRANS_WSRV</key>
				<integer>1</integer>
				<key>CFG_UFL_CHK</key>
				<integer>0</integer>
				<key>CFG_UFL_STP</key>
				<integer>0</integer>
				<key>CFG_USE_AGDC</key>
				<integer>1</integer>
				<key>CFG_USE_CP2</key>
				<integer>1</integer>
				<key>CFG_USE_CPSTATUS</key>
				<integer>1</integer>
				<key>CFG_USE_DPT</key>
				<integer>1</integer>
				<key>CFG_USE_FBC</key>
				<integer>0</integer>
				<key>CFG_USE_FBWRKLP</key>
				<integer>1</integer>
				<key>CFG_USE_FEDS</key>
				<integer>1</integer>
				<key>CFG_USE_LPT</key>
				<integer>1</integer>
				<key>CFG_USE_PSR</key>
				<integer>0</integer>
				<key>CFG_USE_SCANOUT</key>
				<integer>1</integer>
				<key>CFG_USE_SRRB</key>
				<integer>0</integer>
				<key>CFG_USE_STUTTER</key>
				<integer>1</integer>
				<key>CFG_USE_TCON</key>
				<integer>1</integer>
				<key>PP_DisableDIDT</key>
				<integer>1</integer>
				<key>PP_DisablePowerContainment</key>
				<integer>1</integer>
				<key>PP_DisableVoltageIsland</key>
				<integer>0</integer>
				<key>PP_FuzzyFanControl</key>
				<integer>1</integer>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>model</key>
				<string>Radeon Pro W5700X</string>
				<key>name</key>
				<string>ATY_GPU</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
